body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #0d1117;

}

.signinwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 5%;
  }
  .logo-in-logo-container {
    margin-bottom: 20px;
  }
  .logo-login {
    width: 50px; /* Adjust size */
    height: auto;
  }
  .signinwrapper h1{
    /* margin-bottom: 20px; */
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 29px;
  }

.login-box-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 20vw;
    background-color: #151b23;
    /* border: 0.5px solid #30363d; */
    border-radius: 8px;
}
.login-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */

}
.login-heading label {
     /* Align labels to the left */
    margin-bottom: -8px;
    font-size: 16px;
    color: #c9d1d9;
  }

.login-heading input{
    width: 100%;
    padding: 12px;
    margin: 15px;
    border: none;
    border-radius: 7px;
    background-color: #030404;
    color: rgb(212, 212, 214);
    font-size: 16px;
    height: 10px; 
    outline-color: rgb(32, 88, 88) !important;
    /* outline: none; */
    /* width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #30363d;
    color: white;
    font-size: 16px;
    outline: none; */
    
}
.login-heading button{
    justify-content: center;
    width: 90%;
    height: 30px;
    padding: 4px;
    /* margin: 10px; */
    border: none;
    border-radius: 5px;
    background-color: #30363d;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-top: 18px;
} 
.accoutn{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #c9d1d9;
    width: 22rem;
    background-color: #151b23;
    border-radius: 8px;
    border: 2px solid #30363d;
}

@media screen and (max-width: 860px) {
    .login-box-wrapper{
        width: 80vw;
    }
    .login-heading input{
        width: 90%;
    }
    .login-heading button{
        width: 90%;
    }
    .accoutn{
        width: 90%;
    }
}
@media (min-width:860px) and (max-width: 1280px) {
    .login-box-wrapper{
        width: 40vw;
    }
    .login-heading input{
        width: 90%;
    }
    .login-heading button{
        width: 90%;
    }
    .accoutn{
        width: 90%;
    }
}
   


